body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  display: inline-block;
}
.cards{
    background-color: blue;
    color: white;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

.image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.button{
  width: 20px;
  color: brown;
  padding: 10px;

}
.btn{
  background-color: cornflowerblue;
margin: 5px;
height: 30px;
width: 50px;
font-size: 18px;
}